html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    /* 1rem = 20px */
    font-size: 125%;
}

/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa&family=Lobster&family=Rubik+80s+Fade&family=Rubik+Spray+Paint&family=Rubik+Storm&family=Rubik+Vinyl&family=Unbounded&family=Zen+Dots&display=swap');

/* Font Families */

.barlow {
    font-family: 'Barlow', sans-serif;
}

.anton {
    font-family: 'Anton', sans-serif;
}

.comfortaa {
    font-family: 'Comfortaa', cursive;
}

.lobster {
    font-family: 'Lobster', cursive;
}

.fade {
    font-family: 'Rubik 80s Fade', cursive;
}

.spraypaint {
    font-family: 'Rubik Spray Paint', cursive;
}

.storm {
    font-family: 'Rubik Storm', cursive;
}

.vinyl {
    font-family: 'Rubik Vinyl', cursive;
}

.unbounded {
    font-family: 'Unbounded', cursive;
}

.zendots {
    font-family: 'Zen Dots', cursive;
}

/* Button Colors */

.colorButtons {
    background-color: grey;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 5px;
    margin: 0 auto;
}

.fontColorButtons {
    background-color: grey;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 5px;
    margin: 0 auto;
}


.colorButton {
    height: 30px;
    width: 12.5%;
}

.redButton {
    background: #B80000;
    border: none;
    cursor: pointer;
}

.orangeButton {
    background: #DB3E00;
    border: none;
    cursor: pointer;
}

.greenButton {
    background: #008B02;
    border: none;
    cursor: pointer;
}

.blueButton {
    background: #004DCF;
    border: none;
    cursor: pointer;
}

.pacificBlueButton {
    background: #33A8C7;
    border: none;
    cursor: pointer;
}

.fluorescentBlueButton {
    background: #52E3E1;
    border: none;
    cursor: pointer;
}

.greenLizardButton {
    background: #A0E426;
    border: none;
    cursor: pointer;
}

.lemonYellowButton {
    background: #FDF148;
    border: none;
    cursor: pointer;
}

.sunglowButton {
    background: #FECE24;
    border: none;
    cursor: pointer;
}

.chromeYellowButton {
    background: #FFAB00;
    border: none;
    cursor: pointer;
}

.lightCoralButton {
    background: #F77976;
    border: none;
    cursor: pointer;
}

.magentaCrayolaButton {
    background: #F050AE;
    border: none;
    cursor: pointer;
}

.heliotropeButton {
    background: #D883FF;
    border: none;
    cursor: pointer;
}

.purpleButton {
    background: #9336FD;
    border: none;
    cursor: pointer;
}

.blackButton {
    background: #000;
    border: none;
    cursor: pointer;
}

.whiteButton {
    background: #fff;
    border: none;
    cursor: pointer;
}

/* Font Colours */

.fcB80000 {
    color: #B80000;
}

.fcDB3E00 {
    color: #DB3E00;
}

.fc008B02 {
    color: #008B02;
}

.fc004DCF {
    color: #004DCF;
}

.fc33A8C7 {
    color: #33A8C7;
}

.fc52E3E1 {
    color: #52E3E1;
}

.fcA0E426 {
    color: #A0E426;
}

.fcFDF148 {
    color: #FDF148;
}

.fcFECE24 {
    color: #FECE24;
}

.fcFFAB00 {
    color: #FFAB00;
}

.fcF77976 {
    color: #F77976;
}

.fcF050AE {
    color: #F050AE;
}

.fcD883FF {
    color: #D883FF;
}

.fc9336FD {
    color: #9336FD;
}

.fc000 {
    color: #000;
}

.fcfff {
    color: #fff;
}

/* Background Colours */

.redBackground {
    background: #B80000;
}

.orangeBackground {
    background: #DB3E00;
}

.greenBackground {
    background: #008B02;
}

.blueBackground {
    background: #004DCF;
}

.pacificBlueBackground {
    background: #33A8C7;
}

.fluorescentBlueBackground {
    background: #A0E426;
}

.greenLizardBackground {
    background: #A0E426;
}

.lemonYellowBackground {
    background: #FDF148;
}

.sunglowBackground {
    background: #FECE24;
}

.chromeYellowBackground {
    background: #FFAB00;
}

.lightCoralBackground {
    background: #F77976;
}

.magentaCrayolaBackground {
    background: #F050AE;
}

.heliotropeBackground {
    background: #D883FF;
}

.purpleBackground {
    background: #9336FD;
}

.blackBackground {
    background: #000;
}

.whiteBackground {
    background: #fff;
}

.fontOptions {
    display: flex;
    flex-wrap: wrap;
}

.fontOptions button {
    width: 20%;
}

.App {
  text-align: center;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1920px;
}

/* Header Styling */

header {
    text-align: center;
    background-color: #7672F7;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px 0px 100px 0px;
    
}

h1 {
    font-weight: bold;
    font-size: 4.5rem;
    letter-spacing: 10px;
}

.bblob {
    background-color: #E7605C;
    width: 68%;
    height: 20%;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;
    animation: morph 3s linear infinite;
    -webkit-box-shadow: 8px 9px 0px 2px #000000; 
    box-shadow: 8px 9px 0px 2px #000000;
    margin: 0 auto;
}

h2 {
    font-size: 1.25rem;
    line-height: 40px;
    
}

ul {
    padding-left: 0px;
}

li {
    list-style-type: circle;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    line-height: 40px;
}
p {
    font-family: 'Barlow', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}


.routerLink {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5rem;
    background-color: #E7605C;
    border: none;
    padding: 10px;
    cursor: pointer;
}

@keyframes morph{
    0%, 100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
  }

a:link,
a:visited,
a:hover,
a:active { 
  text-decoration: none; 
  color: inherit;
}

/* Preview Styling */

.backgroundContainer {
    width: 100%;
}

.backgroundContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link {
    text-align: center;
}

.previewSection {
    border: 2px solid black;
    order: 3;
    width: 80%;
    height: 80%;
    margin-left: 20%;
    display: flex;
    align-items: center;
    max-height: 100%;
    overflow: hidden;
}

.previewText {
    text-align: center;
    align-self: center;
    z-index: 1;
    position: absolute;
    width: fit-content;
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Form Styling */

.homeLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
}

.sideBar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10%;
    width: 90%;
    align-self: center;
}

.sideBar input {
    border: 3px solid black;
    padding: 10px;
}

.sideBar label {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    color: #161B25;
    font-weight: bold;

}

.sideBarForms {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.colourPicker {
    align-self: center;
}


.linkInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.delete {
    color: white;
    background-color: red;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    padding: 5px 0px 5px 0px;
}

.add {
    color: white;
    background-color: green;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    padding: 5px 0px 5px 0px;
}

main {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    
}


.backgroundForm {
    order: 2;
    width: 100%;
    height: 20%;
    margin-left: 20%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.searchBar {
    display: flex;
}

.searchBar input {
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    text-align: center;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #E7605C;
    border: none;
}

.searchForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
}

.searchResults {
    display: flex;
}

.colourForm {
    width: 60%;
    display: flex;
    justify-content: center;
}

.optionContainer {
    border: 2px solid black;
    width: 125px;
    height: 75px;
    min-width: 125px;
    min-height: 75px;
    overflow: hidden;
    object-fit: none;
    position: relative;
}

.backgroundOptions{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    z-index: 2;
}


[type=radio] {
    position: fixed;
    opacity: 0;
    width: 125px;
    height: 75px;
    min-width: 125px;
    min-height: 75px;
    cursor: pointer;
}

[type=radio]+label {
    cursor: pointer;
}

[type=radio]:checked+label {
    outline: 2px solid black;
}


.sideBarSection {
    order: 1;
    width: 20%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.textForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#downloadButton {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.previewSection {
    font-family: 'Barlow', sans-serif;
    border: 2px solid black;
    order: 3;
    width: 80%;
    height: 80%;
    margin-left: 20%;
}

.downloadSection {
    display: flex;
    order: 4;
    width: 100%;
    background-color: #7672F7;
}

.userCopy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 100px 0px 100px 0px;
}

.copyHtml {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.copyCss {
    display: flex;
    flex-direction: column;
    width: 100%;
}

pre {
    white-space: pre-wrap;
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
    padding: 20px;
    overflow: scroll;
}

@media(max-width: 1330px) {
    .bblob {
        width: 100%;
    }
}

@media(max-width: 990px) {
    .bblob h1 {
        font-size: 3.5rem;
    }
}

@media(max-width: 650px) {
    .bblob h1 {
        font-size: 2rem;
    }

    .intro {
        font-size: 1rem;
    }
}

@media(max-width: 450px) {
    .bblob h1 {
        font-size: 1rem;
    }
    .intro, li, p {
        font-size: 0.8rem;
    }
}
