.App {
  text-align: center;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1920px;
}

.previewSection {
    border: 2px solid black;
}

.backgroundContainer {
    overflow: hidden;
}

.sideBar {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.sideBar input {
    margin-bottom: 10px;
    border: 3px solid black;
}